* {
    margin: 0px;
    padding: 0px;
    /* background-image: url('Lock.jpg'); */
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: white(227, 20, 20);
    color: black;

}
.app-container{
  background-color: black; /* Background color with transparency */
  color: white;
  backdrop-filter: blur(5px); /* Adjust the blur radius as needed */
}
#navbar-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

#navbar-items li {
    margin-right: 60px;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 20px;
}



/* 
  #navbar-items li:last-child {
    margin-right:300px;
    color: red;
  } */
  .logo {
    display: inline-flex;
    align-items: center;
  }
  
  #logo-name {
    margin-left: 10px; /* Adjust as needed */
  }
  
  #logo-name span {
    display: block;
  }
  .app-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this line */
  }
  /* You may need to adjust the styling of Logo and NavBar components */
  .homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* .content-container {
    margin-top: 20px; 
} */
.chart-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust margin as needed */
}

  